.relatar-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-relato{
    width: 50%;
}

.form-relato input{
    color: white;
    border-radius: 5;
    margin-bottom: 10px;
}

.form-relatar textarea{
    width: 100%;
}

.dados-pessoais{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8cm;
}

.form-email{
    width: 60%;
}

.inpt{
    height: 20px;
}

.chbox-form{
    display: flex;
}

.chbox-form input{
    margin-top: 20px;
    margin-right: 10px;
}

.chbox-form p{
    color: #9088f2
}

.table-json{
    margin-top: 10%;
}