h1{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2cm;
}
.pDef{
    color: #141414;
    font-family: Bahnschrift;
    width: 92%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.containerDef2{
    background-color: rgb(224, 166, 176);
    border: 50px;
    margin-left: 0.5%;
    margin-bottom: 1%;

}
.containerDef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h5Def{
    color: purple;
}
.container_def{
    margin: 5% 10%;
}
