
.card{
    min-width: 350px;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.card-header{
    background-color: rgba(0,0,0,.009);
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.03);;
}

.card-header h2{
    font-size: 15px;
    font-family: Roboto, sans-serif;
    margin: 0%;
    padding: 12px;
    font-weight: 100;
}

.card-body{
    margin: 0% 1%;
    padding: 12px;
    background: white;
}

.card-body p{
    color:#212529;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
    height: 50px;
}

.popup-btn{
    background-color: #3d2963;
    padding: 6px 10px;
    font-family: Roboto, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin: 0;
}

.popup{
    background: white;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    width: 1100px;
    padding: 0.0cm;
    border-radius: 5px;
    position: relative;
    top: -20px
}

.popup .header{
    border-bottom: solid;
    border-width: 1px;
    border-color: gainsboro;
}

.popup .header h2{
    font-size: 18px;
    margin: 20px;
    padding: 0%;
}

.popup .content{
    height: 450px;
    border-bottom: solid;
    border-width: 1px;
    border-color: gainsboro;
}

.popup .content p{
    font-size: 14px;
    color: #3d2963;
    font-family: Roboto, sans-serif;
    line-height: 20px;
    margin: 20px;
}

.modal button{
    margin: 10px;
}



