body{
    background: #f5f8fa;
}

.container1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}