.global{
    display: flex;
    justify-content: center;
}

.titulo{
    width: 80%;
}

.titulo h1{
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: 100;
    color: #3d2963;
    margin-bottom: 1cm;
}

.titulo p{
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    color: #9088f2;
    line-height: 20px;
}