body{
    background: #f5f8fa;
}

.redes{
    background-color: rgba(166, 114, 233, 0.966);
    color: rgba(55, 16, 109, 0.966);
    max-width: 2000px;
    margin: auto;
    padding: 12px;
    display: flex;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: 100;
    color: #3d2963;
    text-align: center;
    padding: 1cm;
}



.cntaj p{
    padding: 2cm;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #3d2963;
    display: flex;
    justify-content: center;
}

p{
    padding: 0 10px !important;
    
}
