body {
    background: #f5f8fa;
}
.titulo{
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.cntaj{
    display:flex;
    justify-content: space-between;
    margin-top: 2cm;
    margin-left: 10cm;
    width: 3cm;
    height: 3cm;
}
.text-intro{
    margin-left: 3cm;
    margin-right: 3cm;
    color:  #8074fd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.AJ{
    margin-left: 15cm;
    margin-top: 1.8cm;
    color: #461b95;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.telefones2 {
    width: 20%;
    height: 200px;
    margin-left:7.8cm;
    
  display: flex;
}