.formCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 0px;
}

form {
    width: 30%;
    max-width: 400px;
    min-width: 350px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 2em #0000003d;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.formField {
    width: 90%;
    margin-bottom: 20px;
}

.formField label {
    font-size: 18px;
    color: #413780;
}

.formField input {
    width: calc(100% - 30px);
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 20px;
    padding: 12px 15px;
    border: 1px solid #413780;
}

.submit {
    margin: 0 0 10px 0;
    font-family: 'sans-serif';
    font-size: 16px;
    padding: 15px;
}

