.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container form {
  margin: 35px 0px;
}

i {
  color: rebeccapurple;
}

.check {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.labelContato {
  padding-top: 15px;
  width: 100%;
  font-size: 15px;
  color: #601e60;
  font-size: 18px;
}

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.mensagem {
  width: 98%;
  height: 58px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
  text-align: left;
}

.form1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  margin-left: 0px;
  border-radius: 8px;
}

.form1 input {
  width: calc(100% - 30px);
    margin-top: 5px;
    margin-left: 0px;
    border-radius: 20px;
    padding: 12px 15px;
    border: 1px solid #413780;
}

.formCheck {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 20px;
}

.buttonSubmit {
  font-size: 18px;
}
