.containerContato{
    width: 40%;
    height: 500px;
    padding: 20px;
    margin: 0px 105px;
    padding: 0pc 15px;
    margin-left: 5%;
    flex-direction: column;
}
h1{
    color: purple;
}
.telefones{
    width: 40%;
    height: 200px;
    padding: 0pc 15px;
    margin-right: 0;
    flex-direction: column;
    display: inline;
}
.es{
    text-align: center;
    padding: initial;
}
i{
    margin-left: 10%;
    color: rebeccapurple;
}
.check{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.ulContato{
    margin-top: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 10%;
}

.ulContato li {
    display: flex;
}
.principal{
    display: flex;
    flex-direction: row;
}
.labelContato{
    padding-top: 10px;
    padding-bottom: 250px; 
    margin-left: 2%; 
}
.formulario{
    width: 100%;
    height: 37px;       
    display: flex; 
    justify-content: space-between;
}
.mensagem {
    width: 98%;
    height: 58px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    text-align: left;
  }
.h1{
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration-color: #3d2963;
    font-size: 30px;
    font-family: sans-serif;
}
.form1{
    width: 50%; 
}

.form2-margem{
    margin-top: 20px;
}
label{
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #601E60;
}
.sub{
    padding-top: 15px;
}

.pContato{
    color: rebeccapurple;
    font-size: 15px;
    width: 100%;
    margin-left: 5%;
}
input[type=text]{
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 50px;
}
input[type=email]{
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 50px;
}
input[type=submit]{
    width: 15%;
    height: 20%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: rebeccapurple;
    border-radius: 50px;
    margin-left: 85%;
    
}

.ajuste-titulo{
    display: flex;
    justify-content: center;
}

.form-contato{
    margin-top: 50px;
}

.form-check{
    display: flex;
    flex-direction: row;
}