.opacity:hover {
    opacity: 0.8;
}

.inputLogin {
    border-radius: 20px;
    background-color: #f8f8f8;
    width: 75% !important;
    padding: 12px 20px !important;
    margin-top: 4%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.containerLogin{
    padding-bottom: 5em;
}

.formLogin{
    margin:auto;
}
.link{
    text-decoration: none;
    margin: 4px;
}