.relatarPage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formRelato{
    width: 50%;
}

.formRelato input{
    color: black;
    border-radius: 5;
    margin-bottom: 10px;
}

.formRelatar textarea{
    width: 100%;
}

.dadosPessoais{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8cm;
}

.formEmail{
    width: 60%;
}

.inpt{
    height: 20px;
}

.chboxForm{
    display: flex;
}

.chboxForm input{
    margin-top: 20px;
    margin-right: 10px;
}

.chboxForm p{
    color: #9088f2
}

.tableJson{
    margin-top: 10%;
}