
.chboxForm{
    display: flex;
}

.chboxForm input{
    margin-top: 20px;
    margin-right: 10px;
}

.chboxForm p{
    color: #9088f2
}


.formRelatar{
    margin: auto;
    margin-bottom:3em;
}
.textarea{
    width: 100%;
    resize: vertical;
}

.inputRelatar{
    width: 75%;
}