
.chboxForm{
    display: flex;

}

.chboxForm input{
    margin-top: 10%;
}

.chboxForm p{
    color: #9088f2
}


.formRelatar{
    margin: auto;
    margin-bottom:3em;
}
.textarea{
    width: 100%;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.inputRelatar{
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submitBtn{
    background-color: #3D2963;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 50%;
    margin:auto;
}

.submitBtn:hover{
	background-color: #9C3CC0;
}

.flex{
    display: flex;
    flex-direction: column;
}