*{ margin: 0; padding: 0; box-sizing: border-box;}

body {
    display: grid;
    place-items: center;
}

#items-wrapper {
    width: 100vw;
}

#items {
    display: flex;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    
}

.item {
    flex: none;
    scroll-snap-align: start;
}

img {
    width: 100vw;
    height: 720px;
}