.home_img{
    width: 100%;
    height: 750px;
    overflow: hidden;
}
.home_img img{
    width: 100%;
    height: 750px;
}
.carroussel_img{
    width: 100%;
}
.link_definition{
    width: 450px;
    position: relative;
    top: -450px;
    left: 1000px;
    color: #3d2963;
    background-color: white;
    border-radius: 50px 50px;
    border: none;
}
.link_definition h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}
.effect_phase{
    width: 700px;
    height: 100px;
    background-color: white;
    position: relative;
    top: -260px;
    left: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}
.effect_phase h3{
    font-size: 32px;
}
