ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-right: 2cm;
}
li{
    list-style-type: none;
}
.active-link button{
    color: black;
}
button{
    color: grey;
    background: none;
    border: none
}

