
ul{
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-right: 2cm;
}
li{
    list-style-type: none;
}

.active-link {
    color: black;
}
.links{
    color: grey;
    text-decoration: none;
}
.each-link{
    text-decoration: none;
    color: grey;
}

