/*parte superior*/
.redes{
  background-color: rgb(134, 96, 224);
  color: rgb(43, 10, 48);  
<<<<<<< HEAD
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
=======
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 20px;                           
>>>>>>> 6905c0bea31f8f5a5ba298a563a58cf01c687f9c
  width: 100%;
}
/*parte inferior*/
h5 {
    display: flex;
    color: rgb(237, 219, 255);
    font-weight: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    margin-left: 11%;
    font-size: 20px;
    color: rgb(50, 19, 124);
}
p{  
    display: flex;
    color: rgb(227, 219, 255);
    font-weight: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}
/*footer*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 24, 77, 0.966);
}
/*containers*/
.container{
    display: flex;
    justify-content: flex-end;
    padding: 20px;  
    margin: 0px;   
}

.container2{
    padding: 20px;
    margin: 0px;
}

.containers{
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.copy{ 
    color: rgba(221, 187, 255, 0.904);
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding: 1cm;
}
<<<<<<< HEAD

.containers{
    display: flex;
    justify-content: space-around;
}


=======
/*redes*/
>>>>>>> 6905c0bea31f8f5a5ba298a563a58cf01c687f9c
section{
    margin: 15px;
    width: 15px;
    height: 20px;
}
.rede{
    width: 20px;
    height: 20px;
    margin-left: 100px;
    transition: all 0.4s ease-out;
}
<<<<<<< HEAD

=======
.rede#facebook{
    width: 1px;
    height: 1px;
    padding-bottom: 2cm;
    background-color: rgba(62, 39, 83, 0.966);
}
.rede#twitter{
    width: 1px;
    height: 1px;
    padding-bottom: 2cm;
    background-color: rgba(62, 39, 83, 0.966);
}
.rede#instagram{
    width: 1px;
    height: 1px;
    padding-bottom: 2cm;
    background-color: rgba(62, 39, 83, 0.966);
}
>>>>>>> 6905c0bea31f8f5a5ba298a563a58cf01c687f9c
