/*parte superior*/
.redes{
  background-color: rgb(134, 96, 224);
  color: rgb(43, 10, 48);  
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}
/*parte inferior*/
h5 {
    display: flex;
    color: rgb(237, 219, 255);
    font-weight: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    margin-left: 11%;
    font-size: 20px;
    color: rgb(50, 19, 124);
}
p{  
    display: flex;
    color: rgb(227, 219, 255);
    font-weight: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(47, 24, 77, 0.966);
}

.container{
    padding: 20px;     
}

.container2{
    padding: 20px;
}

.copy{ 
    color: rgba(221, 187, 255, 0.904);
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    padding: 1cm;
}

.containers{
    display: flex;
    justify-content: space-around;
}


section{
    margin: 15px;
    width: 15px;
    height: 20px;
}
.rede{
    width: 20px;
    height: 20px;
    margin-left: 100px;
    transition: all 0.4s ease-out;
}

